<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-2 my-5"><%= @organization.name %> Group!</h1>
      <h4>Description:</h4>
      <p><%= @organization.description %></p>
      <h4 class="mt-5">Created By: <%= @organization.user.first_name %> <%= @organization.user.last_name %></h4>
      <p></p>
      <a href="/groups"><button class="btn btn-primary btn-block my-5">Dashboard</button></a>
    </div>
  </div>
</div>
